/* #333230
#292621
#4d494a
#a49e9e
#a9a5a6
#837f80
#6a6e79
#5d5a61
#120d0b
#805f50 */

/* font-family: 'News Cycle', sans-serif;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Carrois Gothic SC', sans-serif; */

#jumbo {
    /* background-image: linear-gradient(#4c4c4c, #6a6e79); */
    /* color: #120d0b */
    background-color: #fff;
    padding: 0px;
}
h1{
    font-family: 'Carrois Gothic SC', sans-serif;
    margin-bottom: 0px;
}

.row {
    margin-bottom:0px !important; 
}
#desc {
   
  font-family: 'Fugaz One', cursive;
    color: #fff;
    text-shadow: 2px 2px #120d0b;
    font-size: 50px;
}
.navbar {
    font-family: 'Carrois Gothic SC', sans-serif;
    background-color: #fff !important;
    
}
h1{
    margin-bottom:0px !important; 
}
h3{
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
    margin-bottom:0px !important; 
}
.data {
    background-image: url(/assets/images/mmoa.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 500px;

}